$dark-blue: #032541;

* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: $dark-blue;
  color: white;
  align-items: center;
  font-weight: 600;
}

header > nav {
  display: flex;
  gap: 15px;
  margin-left: 30px;
}

.header__extra {
  display: flex;
  gap: 15px;
  margin-right: 30px;
}
